<div class="pagehead">
  <div class="wrap">
    <div class="eyebrow">404</div>
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
  </div>
</div>
<section class="sec wrap" style="text-align:center">
  <a href="{{ routes.root_url }}" class="btn btn--green">{{ 'general.404.link' | t }}</a>
</section>
